<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name:</label>
          <input class="form-control" type="text" name="projectName" id="projectName" formControlName="projectName">
          <span *ngIf="!projectForm.get('projectName').valid && projectForm.touched">
            <span *ngIf="projectForm.get('projectName').value===null">
              Fill this field!
            </span>
            <span *ngIf="projectForm.get('projectName').hasError('projectNameForbidden')">
              Invalid project name!
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control" type="text" name="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="projectStatus">Status: </label>
          <select class="form-control" name="projectStatus" id="projectStatus" formControlName="projectStatus">
            <option for="projectStatus" *ngFor="let status of statuses" [value]="status" [selected]="status=='Critical'">{{status}}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
