.server__online {
  margin: 5px;
  display: flex;
  color: white;
  background-color: seagreen;
  height: 50px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 5px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.server__offline {
  margin: 5px;
  display: flex;
  color: white;
  background-color: indianred;
  height: 50px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 5px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
